#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

#game-board div {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
  background-color: #ddd;
  cursor: pointer;
}

#game-board div.valid.checked {
  background-color: #fff;
}

#game-board div.bomb {
  background-color: red;
}

#game-board div.flag {
  background-color: yellow;
}
